Olá<strong> {{ student }}</strong>
<p>Você já tem uma resposta da Gympoint Academia para sua pergunta:</p>
<strong>Data da resposta: </strong>{{ date }}<br />
<strong>Pergunta: </strong>{{ question }}<br />
<strong>Resposta: </strong>{{ answer }}<br />
<br />
<small>
  Agradecemos pela preferência.
</small>
